In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [5]:
bitcoin_df = pd.read_csv("../Dataframes/bitcoin_df.csv")
bitcoin_df["date"] = pd.to_datetime(bitcoin_df["date"])

In [6]:
bitcoin_df.head()

,date,id,prices,price_diff,returns,market_caps,market_caps_diff,total_volumes,total_volumes_diff,open,high,low
0,2013-04-30,bitcoin,135.30,-6.66,-0.0666,1.501657e+09,-73374511.0,0.0,0.0,135.30,141.96,135.30
1,2013-05-03,bitcoin,91.01,-12.42,-0.1242,1.011066e+09,-137601228.0,0.0,0.0,117.00,117.00,91.01
2,2013-05-07,bitcoin,106.40,-11.93,-0.1193,1.183766e+09,-132225804.0,0.0,0.0,111.25,118.33,106.40
3,2013-05-11,bitcoin,113.01,-5.77,-0.0577,1.259239e+09,-63750105.0,0.0,0.0,112.64,118.78,112.64
4,2013-05-15,bitcoin,114.16,-0.34,-0.0034,1.273850e+09,-3429307.0,0.0,0.0,114.71,117.18,114.16

In [7]:
bitcoin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 982 entries, 0 to 981
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                982 non-null    datetime64[ns]
 1   id                  982 non-null    object
 2   prices              982 non-null    float64
 3   price_diff          982 non-null    float64
 4   returns             982 non-null    float64
 5   market_caps         982 non-null    float64
 6   market_caps_diff    982 non-null    float64
 7   total_volumes       982 non-null    float64
 8   total_volumes_diff  982 non-null    float64
 9   open                982 non-null    float64
 10  high                982 non-null    float64
 11  low                 982 non-null    float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 92.2+ KB

In [8]:
bitcoin_df.describe().astype(str)

,date,prices,price_diff,returns,market_caps,market_caps_diff,total_volumes,total_volumes_diff,open,high,low
count,982,982.0,982.0,982.0,982.0,982.0,982.0,982.0,982.0,982.0,982.0
mean,2018-06-23 22:29:05.010183168,11994.738513238288,10.538879837067217,0.10538879837067215,222980954170.82755,185080454.5452947,14253231999.172964,323160182.90318745,11991.966802443994,12342.71784114053,11638.606741344196
min,2013-04-30 00:00:00,68.08,-5070.059999999998,-50.70059999999998,774804401.0,-95695301937.05003,0.0,-47383354203.43,77.5,78.8,67.81
25%,2015-11-27 18:00:00,568.8050000000001,-42.20750000000002,-0.4220750000000001,7526820884.035,-599653865.9849901,133713751.6675,-417112310.637499,568.405,584.635,559.5475
50%,2018-06-25 00:00:00,6367.025,1.694999999999979,0.01694999999999975,109759762507.88,25258474.19500017,3645136987.59,0.0,6393.004999999999,6490.725,6246.5
75%,2021-01-18 00:00:00,17941.455,63.612499999999955,0.6361249999999996,334506050967.27,1111298349.4300041,24490211897.105,703716608.8050005,17316.25,18454.3,17068.9625
max,2023-08-19 00:00:00,65648.98,4997.369999999995,49.97369999999995,1239021452560.9,92855953330.65002,102065957642.23,56188705084.3,65005.65,67617.02,64432.05
std,nan,15548.212586758962,666.2772727446988,6.66277272744699,294833444172.7927,12302957818.087914,18202337525.847034,6706107761.355755,15588.87464094051,16031.148758646741,15110.25864078028